.Boton {
                
    z-index: 110;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: none;
    transition: all 0.3s ease;
    opacity: 0;
    cursor: pointer;
    animation: animate 1s ease-in-out 0.9s 1 forwards;

    button {
        
        z-index: 110;
        border: none;
        background: transparent;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
        backdrop-filter: none;
    }

    &:hover {
        
        background: rgba(255, 255, 255, 0.7);
        color: #000;
        border: none;
        box-shadow: 5px 5px 10px #bebebe;
        transform: scale(1.10);
    }

    button:active {

        border-radius: 15px;
        background: #e0e0e0;
        box-shadow: inset -10px -10px 20px #ffffff;
        color: #000;
    }
}